body{
    background: rgb(210,113,226);
    background: linear-gradient(27deg, rgba(210,113,226,1) 0%, rgba(125,120,217,1) 100%); 
    font-family: monospace;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}
.filter{
    background-color: rgba(255, 0, 0, 0.048);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(55px);
    background-image: url("images/japon.jpg");
}
.thumb{
    background-image: url("images/japon.jpg");
}

audio{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.perspective{
    width: 100%;
    perspective: 1000px;
}

.card {
    width: 270px;
    height: 413px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;
}
audio{
    z-index: 10;
}
.card .thumb{
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.card .thumb:after {
    background: inherit;
    content: '';
    display: block;
    position: absolute;
    left: -60px;
    top: 40px;
    width: 100%;
    height: 108%;
    z-index: -1;
    filter: blur(55px);
}
.card h2{
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 40px;
    font-weight: 100;
    transform: translateZ(80px);
}
.card a{
    position: absolute;
    bottom: 40px;
    right: -150px;
    font-size: 37px;
    font-weight: 400;
    transform: translateZ(35px);
    color: aliceblue;
    text-decoration: none;
}
img{
    margin: auto;
    display: block;
}